.header {
    padding: 1em 0 0 2em;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 16rem;

    @media screen and (max-width: 600px) {
        background-color: #fff;   
    }
}

.title {
    span {
        font-size: 3rem;
        font-family: 'Comfortaa', cursive;
    }
    a {
        text-decoration: none;
        color: #000;
    }

    span {
        display: block;

        + span {
            margin-top: -.5em;
        }
    }
}

.nav {
    margin-top: .3em;
    ol {
        list-style: none;
        padding-left: .4em;
        li {
            padding-bottom: .5em;
            font-size: .8em;
            a {
                font-weight: bolder;
                color: #000;
                text-decoration: none;
                font-family: 'Noto Sans JP', sans-serif;
            }
        }
    }
}

.kv {
     color: #000;
     width: 3em;
     height: 2em;
}

.subTitle {
    font-size: 3em;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    margin-bottom: .3em;
}
