.area {
    &Left {
        position: fixed;
        top: 0;
        left: 0;
        height: calc(100% - 4rem);
        width: calc((100% - (400px + 4rem)));
    }
    &Main {
        width: 100%;
        max-width: 400px;
        margin: 0 0 0 auto;
        position: relative;
        --bar-height: 1;
    }
    &ParallaxText {
        position: fixed;
        bottom: 0;
        height: 4rem;
        width: 100%;
    }
}

.bg {
    background-color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: -100;
    width: 30%;
    height: 80%;
}
